<?xml version="1.0"?>
<tvrecorder>

    <server>
        <port>8282</port>
    </server>

    <database>
        <url>tvrecorder.db</url>
    </database>

    <channels>
        <config-file>/path/to/your/channels.conf</config-file>
    </channels>

    <!-- Uncomment the following block to enable HTTP BasicAuth.
         It is absolutely recommended to do this!
         Currently, the only provided authentication type is HTTP BasicAuth. -->
    <!--
    <authentication type="BasicAuth">
        <login>YOURNAME</login>
        <password>YOURPASS</password>
    </authentication>
    -->

</tvrecorder>
