<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.inselhome.tvrecorder.client"
      android:versionCode="129"
      android:versionName="1.0pre1">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="MainMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="de.inselhome.tvrecorder.client.TvRecorder"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="de.inselhome.tvrecorder.client.activities.setup.TvRecorderSettings"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="de.inselhome.tvrecorder.client.activities.tvguide.TvGuide"
                  android:label="@string/tvguide_title">
        </activity>

        <activity android:name="de.inselhome.tvrecorder.client.activities.tvshow.TvShowDetail"
                  android:label="@string/tvshowdetail_title">
        </activity>

        <activity android:name="de.inselhome.tvrecorder.client.activities.tvsearch.TvSearch"
                  android:label="@string/tvsearch_title">
        </activity>

        <activity android:name="de.inselhome.tvrecorder.client.activities.tvjoblist.TvJoblist"
                  android:label="@string/tvjoblist_title">
        </activity>

        <!-- SERVICES -->
        <service android:name="de.inselhome.tvrecorder.client.services.TvGuideUpdateService"/>

        <!-- BROADCAST RECEIVERS -->
        <receiver android:name="de.inselhome.tvrecorder.client.receivers.TvGuideUpdateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:targetSdkVersion="10" android:minSdkVersion="8"/>
</manifest> 
